<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %} Home Page | Translate To Arabic {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="title">
      <span>
        Jassim Alhatem
      </span>
      <br />
      <span>
        Welcome to my  Website
      </span>
    </div>
  </body>
</html>